body {
    margin: 0;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    background-color: rgb(33, 33, 33);
}

.login-form {
    width: 100%;
    max-width: 200px;
    padding: 30px 15px;
    color: hsla(0, 0%, 100%, 0.5);
    background-color: rgb(19, 19, 19);
    border-radius: 10px;
}

.login-form__heading {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    font-weight: normal;
}

.login-form__heading .login-form__text {
    margin-left: 10px;
}

.form-input__wrapper + .form-input__wrapper {
    margin-top: 15px;
}

.form-input__label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.form-input__inner {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
}

.form-input__inner .form-input {
    background-color: rgb(25, 25, 25);
    border: none;
    margin-left: 5px;
    outline: 0;
    color: hsla(0, 0%, 100%, 0.5);
}

.login-submit__btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    background-color: #b88026;
    cursor: pointer;
}
